langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
langchain-text-splitters
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt

